<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
</head>
<body>
    <header>
       <partial name="_Navbar" />
    </header>
    <partial name="_Slider" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <partial name="_Footer" />
   <partial name="_Script" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
